/* Stylesheet for My Favorite Mutt*/
.name {
    font-weight: bold;
    padding: 5px;
    margin: 10px;
    font-family: arial;
    }
.italic {
    font-style: italic;
}
.imagesize {
    max-width: 300px;
	max-height: 300px;
	border: 17px double #e14dad;
	border-radius: 6px;
    margin: 10px;
}
.boldlabels {
    font-weight: bold;
}
.outerborder {
    border: 1px solid #D3D3D3;
    box-shadow: 10px 10px 5px #D3D3D3;
    width: 325px;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}
.innerborder {
    border: 1px solid #D3D3D3;
    padding: 10px; 
    width: 285px;
    margin: 5px;
    border-radius: 5px;
}